<aside class="top-0 left-0 z-40 w-full h-full">
    <div class="h-full px-3 py-4 overflow-y-auto rounded-r-3xl bg-white dark:bg-gray-800 ">
        <ul class="space-y-2 font-medium">
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg text-slate-500 dark:text-white hover:bg-slate-100 
                    dark:hover:bg-gray-700 focus:bg-slate-100 dark:focus:bg-gray-900 group">
                    <!-- <IDashboard /> -->
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>
            <li>
                <button class="flex items-center w-full p-2 rounded-lg text-slate-500 dark:text-white hover:bg-slate-100
                    dark:hover:bg-gray-700 focus:bg-slate-100 dark:focus:bg-gray-900 group">
                    <!-- <IUser /> -->
                    <span class="flex-1 ms-3 text-left">Users</span>
                    <!-- <IArrowDown /> -->
                </button>
                <ul>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-slate-500 dark:text-zinc-200 pl-10 group
                            bg-slate-100/70 dark:bg-gray-900/40 hover:bg-slate-200 dark:hover:bg-gray-700">Students</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center w-full p-2 text-slate-500 dark:text-zinc-200 pl-10 group
                            bg-slate-100/70 dark:bg-gray-900/40 hover:bg-slate-200 dark:hover:bg-gray-700">Teachers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg text-slate-500 dark:text-white hover:bg-slate-100
                    dark:hover:bg-gray-700 focus:bg-slate-100 dark:focus:bg-gray-900 group">
                    <!-- <INotes /> -->
                    <span class="flex-1 ms-3">Notes</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg text-slate-500 dark:text-white hover:bg-slate-100
                    dark:hover:bg-gray-700 focus:bg-slate-100 dark:focus:bg-gray-900 group">
                    <!-- <ISignup /> -->
                    <span class="flex-1 ms-3">Sign In</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 rounded-lg text-slate-500 dark:text-white hover:bg-slate-100
                    dark:hover:bg-gray-700 focus:bg-slate-100 dark:focus:bg-gray-900 group">
                    <!-- <ISignOut /> -->
                    <span class="flex-1 ms-3">Sign Up</span>
                </a>
            </li>
        </ul>
    </div>
</aside>